<h2>Information about the Country</h2>
<div id="error">{{ errorMsg }}</div>
<table>
      <tr>
        <th>Country Name:</th>
        <td>{{ countryName }}</td>
      </tr>
      <tr>
        <th>Country Capital:</th>
        <td>{{ capital }}</td>
      </tr>
      <tr>
        <th>Country Region:</th>
        <td>{{ region }}</td>
      </tr>
      <tr>
        <th>Income Level:</th>
        <td>{{ income }}</td>
      </tr>
      <tr>
        <th>Continent:</th>
        <td>{{ continentName }}</td>
      </tr>
      <tr>
        <th>Population:</th>
        <td>{{ population }}</td>
      </tr>
  </table>
  
<div>
  <h3>Source Acknowledgements</h3>
  <ul>
    <li><cite>Capital, continent, and population data from <a target="_blank" href="https://www.geonames.org/export/web-services.html">www.geonames.org</a></cite></li>
    <li><cite>Region and income level data from <a target="_blank" href="https://datahelpdesk.worldbank.org/knowledgebase/articles/898581-api-basic-call-structures">datahelpdesk.worldbank.org</a></cite></li>
  </ul>
  </div>